* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    text-align: center;
}
body {
    margin: 15px;
    padding: 15px;
    background-color: #55efc4;
    border: 2px solid;
    border-radius: 5px;
}
#main {
    background-color: #b2bec3;
    border-radius: 5px;
}
#title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
}
#image {
    margin: 15px 0px 0px 0px;
    max-width: 100%;
    height: auto;
    border: 2px solid;
}
figcaption {
    font-size: 12px;
    font-weight: 700;
}
h3 {
    margin-top: 20px;
    padding-top: 20px;
}
#tribute-info {
    
}
ul{
  max-width: 75%;
  margin: 0 auto;
}
li{
  margin: 10px;
  text-align: left;
}

footer {
    margin: 30px;
    padding: 15px;
    font-weight: 700;
}
blockquote {
    font-style: italic;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: orangered;
}

a:hover {
    color: white;
}